[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tsentiment"]
	path = tsentiment
	url = https://github.com/hakkisabah/tsentiment
